body {
  background: #f2f3f7 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.app-layout {
  padding-left: 250px;
}

.single-page-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 1px 4px -1px rgb(0 0 0 / 15%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-content {
  margin-top: 70px;
}
.app-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 1px 4px -1px rgb(0 0 0 / 15%);
}

.header-content {
  display: flex;
  align-items: center;
}

.logout {
  display: flex;
  flex-grow: 1 !important;
  display: flex;
  justify-content: flex-end;
}

.side-nav {
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  box-shadow: 0 1px 4px -1px rgb(0 0 0 / 15%);
  z-index: 999;
  direction: ltr;
  background-color: #fff;
  width: 250px;
}

.side-nav ul {
  margin: 0;
  padding: 0;
}

.side-nav ul li {
  display: flex;
}
.side-nav ul li a {
  text-decoration: none;
  padding: 10px;
  width: 100%;
}
.side-nav ul li.active a {
  background: #0a0f42;
  color: #fff;
}

.doc_download_holder {
  display: flex;
  align-items: center;
  background: #ebebeb;
  max-width: 50%;
  justify-content: space-between;
  padding: 8px;
}

.doc_download_holder a {
  text-decoration: none;
}

.doc_download_holder a img {
  width: 19px;
  margin-right: 10px;
}

.logo_preview {
  position: relative;
  display: inline-flex;
  background: #dedede;
  padding: 10px;
}

.logo_preview button {
}

.banner-preview {
  position: relative;
}
.banner-preview button {
  position: absolute;
  right: 0;
  top: 0;
}

.agenda-edit-btn {
  color: #0a0f42;
}

.agenda-edit-btn:hover {
  text-decoration: underline;
}

.ql-editor {
  min-height: 150px;
}

.speaker-list img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}
